# Mục 1

In [2]:
# Load dữ liệu thành DataFrame Pandas
import pandas as pd
import numpy as np
from sklearn import preprocessing

df = pd.read_csv('data.csv')

# đặt lại index
df = df.set_index('ID')
df

   First Name Last Name   Age Gender Department   Salary Date of Joining
ID
1        John       Doe  25.0      M      Sales  50000.0      01/01/2020
2        Jane     Smith  30.0      F  Marketing  60000.0      06/01/2018
3         Bod   Johnson  45.0      M         HR  70000.0      09/01/2016
4       Alice  Williams  33.0      F         IT  80000.0      02/01/2017
5       James     Brown  27.0      M      Sales  55000.0      03/01/2019
6       Sarah       Lee   NaN      F  Marketing  65000.0      12/01/2018
7     Michael     Davis  39.0      M         HR      NaN      08/01/2015
8       Susan    Miller  42.0      F         IT  90000.0      11/01/2014
9       David    Wilson  28.0      M      Sales  60000.0      05/01/2020
10      Emily     Brown  35.0      F  Marketing  55000.0      04/01/2017
11       John       Doe  25.0      M      Sales  50000.0      01/01/2020
12       John       Doe  25.0      M      Sales  50000.0      01/01/2020

In [3]:
#2. Kiểm tra các giá trị missing
print(df.isnull().sum())
# làm đầy các giá trị missing bằng giá trị trung bình chỉ cho các cột numeric
df.fillna(df.select_dtypes(include=np.number).mean(), inplace=True)

First Name         0
Last Name          0
Age                1
Gender             0
Department         0
Salary             1
Date of Joining    0
dtype: int64

In [4]:
#3. Kiểm tra giá trị giống nhau
print(df.duplicated().sum())
# loại bỏ các dòng giống nhau
df = df.drop_duplicates()
df

2

,First Name,Last Name,Age,Gender,Department,Salary,Date of Joining
ID,,,,,,,
1,John,Doe,25.000000,M,Sales,50000.000000,01/01/2020
2,Jane,Smith,30.000000,F,Marketing,60000.000000,06/01/2018
3,Bod,Johnson,45.000000,M,HR,70000.000000,09/01/2016
4,Alice,Williams,33.000000,F,IT,80000.000000,02/01/2017
5,James,Brown,27.000000,M,Sales,55000.000000,03/01/2019
6,Sarah,Lee,32.181818,F,Marketing,65000.000000,12/01/2018
7,Michael,Davis,39.000000,M,HR,62272.727273,08/01/2015
8,Susan,Miller,42.000000,F,IT,90000.000000,11/01/2014
9,David,Wilson,28.000000,M,Sales,60000.000000,05/01/2020
10,Emily,Brown,35.000000,F,Marketing,55000.000000,04/01/2017

In [5]:
# Mã hóa dữ liệu categorical
df = pd.get_dummies(df, columns=['Gender', 'Department'])
for column in df.columns:
    if df[column].dtype == bool:
        df[column] = df[column].astype(int)

In [6]:
# Xử lý dữ liệu datetime
## Chuyển cột date thành một đối tượng datetime
df['Date of Joining'] = pd.to_datetime(df['Date of Joining'])
## Extract month and day of week from date column
df['month'] = df['Date of Joining'].dt.month
df['day_of_week'] = df['Date of Joining'].dt.day_name()
## Drop the original 'Date' column
df = df.drop('Date of Joining', axis=1)
df

,First Name,Last Name,Age,Salary,Gender_F,Gender_M,Department_HR,Department_IT,Department_Marketing,Department_Sales,month,day_of_week
ID,,,,,,,,,,,,
1,John,Doe,25.000000,50000.000000,0,1,0,0,0,1,1,Wednesday
2,Jane,Smith,30.000000,60000.000000,1,0,0,0,1,0,6,Friday
3,Bod,Johnson,45.000000,70000.000000,0,1,1,0,0,0,9,Thursday
4,Alice,Williams,33.000000,80000.000000,1,0,0,1,0,0,2,Wednesday
5,James,Brown,27.000000,55000.000000,0,1,0,0,0,1,3,Friday
6,Sarah,Lee,32.181818,65000.000000,1,0,0,0,1,0,12,Saturday
7,Michael,Davis,39.000000,62272.727273,0,1,1,0,0,0,8,Saturday
8,Susan,Miller,42.000000,90000.000000,1,0,0,1,0,0,11,Saturday
9,David,Wilson,28.000000,60000.000000,0,1,0,0,0,1,5,Friday
10,Emily,Brown,35.000000,55000.000000,1,0,0,0,1,0,4,Saturday

In [7]:
# xử lý các giá trị ngoại lai
# chuẩn hóa và scale dữ liệu
df1 = df.drop(['First Name', 'Last Name', 'day_of_week'], axis=1)
array = df1.values

### Sử dụng RobustScaler() để loại bỏ những giá trị ngoại lai
scaler = preprocessing.RobustScaler()
robust_df = scaler.fit_transform(array)
robust_df = pd.DataFrame(robust_df)
print(robust_df)

### Chuẩn hóa dữ liệu bằng phương pháp z-score (Standard)
scaler = preprocessing.StandardScaler()
standard = scaler.fit_transform(array)
standard_df = pd.DataFrame(standard, index=df.index)
print('Chuan hoa du lieu:\n', standard_df)

### Scale dữ liệu bằng phương pháp minmax
scaler = preprocessing.MinMaxScaler()
minmax = scaler.fit_transform(array)
minmax_df = pd.DataFrame(minmax, index=df.index)
print('Scaling dữ liệu:\n', minmax_df)

          0         1    2    3    4    5         6         7         8
0 -0.799043 -0.890909 -0.5  0.5  0.0  0.0  0.000000  1.333333 -0.818182
1 -0.272727 -0.090909  0.5 -0.5  0.0  0.0  1.333333  0.000000  0.090909
2  1.306220  0.709091 -0.5  0.5  1.0  0.0  0.000000  0.000000  0.636364
3  0.043062  1.509091  0.5 -0.5  0.0  1.0  0.000000  0.000000 -0.636364
4 -0.588517 -0.490909 -0.5  0.5  0.0  0.0  0.000000  1.333333 -0.454545
5 -0.043062  0.309091  0.5 -0.5  0.0  0.0  1.333333  0.000000  1.181818
6  0.674641  0.090909 -0.5  0.5  1.0  0.0  0.000000  0.000000  0.454545
7  0.990431  2.309091  0.5 -0.5  0.0  1.0  0.000000  0.000000  1.000000
8 -0.483254 -0.090909 -0.5  0.5  0.0  0.0  0.000000  1.333333 -0.090909
9  0.253589 -0.490909  0.5 -0.5  0.0  0.0  1.333333  0.000000 -0.272727
Chuan hoa du lieu:
            0         1    2    3    4    5         6         7         8
ID
1  -1.369782 -1.264391 -1.0  1.0 -0.5 -0.5 -0.654654  1.527525 -1.420508
2  -0.575077 -0.405854  1.0 -1.0 -0.5 -0.5  1.527525 -0.654654 -0.027853
3   1.809037  0.452683 -1.0  1.0  2.0 -0.5 -0.654654 -0.654654  0.807740
4  -0.098254  1.311220  1.0 -1.0 -0.5  2.0 -0.654654 -0.654654 -1.141977
5  -1.051900 -0.835122 -1.0  1.0 -0.5 -0.5 -0.654654  1.527525 -0.863446
6  -0.228297  0.023415  1.0 -1.0 -0.5 -0.5  1.527525 -0.654654  1.643333
7   0.855391 -0.210732 -1.0  1.0  2.0 -0.5 -0.654654 -0.654654  0.529209
8   1.332214  2.169757  1.0 -1.0 -0.5  2.0 -0.654654 -0.654654  1.364802
9  -0.892959 -0.405854 -1.0  1.0 -0.5 -0.5 -0.654654  1.527525 -0.306384
10  0.219627 -0.835122  1.0 -1.0 -0.5 -0.5  1.527525 -0.654654 -0.584915
Scaling dữ liệu:
            0         1    2    3    4    5    6    7         8
ID
1   0.000000  0.000000  0.0  1.0  0.0  0.0  0.0  1.0  0.000000
2   0.250000  0.250000  1.0  0.0  0.0  0.0  1.0  0.0  0.454545
3   1.000000  0.500000  0.0  1.0  1.0  0.0  0.0  0.0  0.727273
4   0.400000  0.750000  1.0  0.0  0.0  1.0  0.0  0.0  0.090909
5   0.100000  0.125000  0.0  1.0  0.0  0.0  0.0  1.0  0.181818
6   0.359091  0.375000  1.0  0.0  0.0  0.0  1.0  0.0  1.000000
7   0.700000  0.306818  0.0  1.0  1.0  0.0  0.0  0.0  0.636364
8   0.850000  1.000000  1.0  0.0  0.0  1.0  0.0  0.0  0.909091
9   0.150000  0.250000  0.0  1.0  0.0  0.0  0.0  1.0  0.363636
10  0.500000  0.125000  1.0  0.0  0.0  0.0  1.0  0.0  0.272727

In [8]:
###### 10 equi-width ranges với tất cả các cột của standard_df
df2 = standard_df.copy()
for i in df2.columns:
    df2[f'equi_width_column_{i}'] = pd.cut(x=df2[i], bins=10)
print(f'Roi rac hoa cot cac cot bang 10 equi-width ranges:\n', df2)

Roi rac hoa cot cac cot bang 10 equi-width ranges:
            0         1    2    3    4    5         6         7         8  \
ID
1  -1.369782 -1.264391 -1.0  1.0 -0.5 -0.5 -0.654654  1.527525 -1.420508
2  -0.575077 -0.405854  1.0 -1.0 -0.5 -0.5  1.527525 -0.654654 -0.027853
3   1.809037  0.452683 -1.0  1.0  2.0 -0.5 -0.654654 -0.654654  0.807740
4  -0.098254  1.311220  1.0 -1.0 -0.5  2.0 -0.654654 -0.654654 -1.141977
5  -1.051900 -0.835122 -1.0  1.0 -0.5 -0.5 -0.654654  1.527525 -0.863446
6  -0.228297  0.023415  1.0 -1.0 -0.5 -0.5  1.527525 -0.654654  1.643333
7   0.855391 -0.210732 -1.0  1.0  2.0 -0.5 -0.654654 -0.654654  0.529209
8   1.332214  2.169757  1.0 -1.0 -0.5  2.0 -0.654654 -0.654654  1.364802
9  -0.892959 -0.405854 -1.0  1.0 -0.5 -0.5 -0.654654  1.527525 -0.306384
10  0.219627 -0.835122  1.0 -1.0 -0.5 -0.5  1.527525 -0.654654 -0.584915

   equi_width_column_0 equi_width_column_1 equi_width_column_2  \
ID
1     (-1.373, -1.052]    (-1.268, -0.921]      (-1.002, -0.8]
2     (-0.734, -0.416]    (-0.578, -0.234]          (0.8, 1.0]
3       (1.491, 1.809]      (0.453, 0.796]      (-1.002, -0.8]
4      (-0.0983, 0.22]       (1.14, 1.483]          (0.8, 1.0]
5     (-1.373, -1.052]    (-0.921, -0.578]      (-1.002, -0.8]
6    (-0.416, -0.0983]     (-0.234, 0.109]          (0.8, 1.0]
7       (0.538, 0.855]     (-0.234, 0.109]      (-1.002, -0.8]
8       (1.173, 1.491]       (1.826, 2.17]          (0.8, 1.0]
9     (-1.052, -0.734]    (-0.578, -0.234]      (-1.002, -0.8]
10     (-0.0983, 0.22]    (-0.921, -0.578]          (0.8, 1.0]

   equi_width_column_3 equi_width_column_4 equi_width_column_5  \
ID
1           (0.8, 1.0]     (-0.502, -0.25]     (-0.502, -0.25]
2       (-1.002, -0.8]     (-0.502, -0.25]     (-0.502, -0.25]
3           (0.8, 1.0]         (1.75, 2.0]     (-0.502, -0.25]
4       (-1.002, -0.8]     (-0.502, -0.25]         (1.75, 2.0]
5           (0.8, 1.0]     (-0.502, -0.25]     (-0.502, -0.25]
6       (-1.002, -0.8]     (-0.502, -0.25]     (-0.502, -0.25]
7           (0.8, 1.0]         (1.75, 2.0]     (-0.502, -0.25]
8       (-1.002, -0.8]     (-0.502, -0.25]         (1.75, 2.0]
9           (0.8, 1.0]     (-0.502, -0.25]     (-0.502, -0.25]
10      (-1.002, -0.8]     (-0.502, -0.25]     (-0.502, -0.25]

   equi_width_column_6 equi_width_column_7 equi_width_column_8
ID
1     (-0.657, -0.436]      (1.309, 1.528]    (-1.424, -1.114]
2       (1.309, 1.528]    (-0.657, -0.436]     (-0.195, 0.111]
3     (-0.657, -0.436]    (-0.657, -0.436]      (0.724, 1.031]
4     (-0.657, -0.436]    (-0.657, -0.436]    (-1.424, -1.114]
5     (-0.657, -0.436]      (1.309, 1.528]    (-1.114, -0.808]
6       (1.309, 1.528]    (-0.657, -0.436]      (1.337, 1.643]
7     (-0.657, -0.436]    (-0.657, -0.436]      (0.418, 0.724]
8     (-0.657, -0.436]    (-0.657, -0.436]      (1.337, 1.643]
9     (-0.657, -0.436]      (1.309, 1.528]    (-0.501, -0.195]
10      (1.309, 1.528]    (-0.657, -0.436]    (-0.808, -0.501]

In [9]:
###### 10 equi-depth ranges với tất cả các cột của standard_df
df3 = standard_df.copy()
for i in df3.columns:
    df3[f'equi_depth_column_{i}'] = pd.qcut(x=df3[i], q=10, duplicates='drop')
print(f'Roi rac hoa cot cac cot bang 10 equi-depth ranges:\n', df3)

Roi rac hoa cot cac cot bang 10 equi-depth ranges:
            0         1    2    3    4    5         6         7         8  \
ID
1  -1.369782 -1.264391 -1.0  1.0 -0.5 -0.5 -0.654654  1.527525 -1.420508
2  -0.575077 -0.405854  1.0 -1.0 -0.5 -0.5  1.527525 -0.654654 -0.027853
3   1.809037  0.452683 -1.0  1.0  2.0 -0.5 -0.654654 -0.654654  0.807740
4  -0.098254  1.311220  1.0 -1.0 -0.5  2.0 -0.654654 -0.654654 -1.141977
5  -1.051900 -0.835122 -1.0  1.0 -0.5 -0.5 -0.654654  1.527525 -0.863446
6  -0.228297  0.023415  1.0 -1.0 -0.5 -0.5  1.527525 -0.654654  1.643333
7   0.855391 -0.210732 -1.0  1.0  2.0 -0.5 -0.654654 -0.654654  0.529209
8   1.332214  2.169757  1.0 -1.0 -0.5  2.0 -0.654654 -0.654654  1.364802
9  -0.892959 -0.405854 -1.0  1.0 -0.5 -0.5 -0.654654  1.527525 -0.306384
10  0.219627 -0.835122  1.0 -1.0 -0.5 -0.5  1.527525 -0.654654 -0.584915

   equi_depth_column_0 equi_depth_column_1 equi_depth_column_2  \
ID
1     (-1.371, -1.084]    (-1.265, -0.878]       (-1.001, 0.0]
2      (-0.67, -0.367]    (-0.535, -0.406]          (0.0, 1.0]
3        (1.38, 1.809]      (0.152, 0.624]       (-1.001, 0.0]
4     (-0.163, 0.0289]      (0.624, 1.397]          (0.0, 1.0]
5     (-1.084, -0.925]    (-0.878, -0.835]       (-1.001, 0.0]
6     (-0.367, -0.163]     (-0.117, 0.152]          (0.0, 1.0]
7        (0.41, 0.951]    (-0.308, -0.117]       (-1.001, 0.0]
8        (0.951, 1.38]       (1.397, 2.17]          (0.0, 1.0]
9      (-0.925, -0.67]    (-0.535, -0.406]       (-1.001, 0.0]
10      (0.0289, 0.41]    (-0.878, -0.835]          (0.0, 1.0]

   equi_depth_column_3 equi_depth_column_4 equi_depth_column_5  \
ID
1           (0.0, 1.0]  (-0.501, 3.89e-16]  (-0.501, 3.89e-16]
2        (-1.001, 0.0]  (-0.501, 3.89e-16]  (-0.501, 3.89e-16]
3           (0.0, 1.0]     (3.89e-16, 2.0]  (-0.501, 3.89e-16]
4        (-1.001, 0.0]  (-0.501, 3.89e-16]     (3.89e-16, 2.0]
5           (0.0, 1.0]  (-0.501, 3.89e-16]  (-0.501, 3.89e-16]
6        (-1.001, 0.0]  (-0.501, 3.89e-16]  (-0.501, 3.89e-16]
7           (0.0, 1.0]     (3.89e-16, 2.0]  (-0.501, 3.89e-16]
8        (-1.001, 0.0]  (-0.501, 3.89e-16]     (3.89e-16, 2.0]
9           (0.0, 1.0]  (-0.501, 3.89e-16]  (-0.501, 3.89e-16]
10       (-1.001, 0.0]  (-0.501, 3.89e-16]  (-0.501, 3.89e-16]

    equi_depth_column_6  equi_depth_column_7 equi_depth_column_8
ID
1   (-0.656, -5.55e-16]   (-3.33e-16, 1.528]     (-1.422, -1.17]
2    (-5.55e-16, 1.528]  (-0.656, -3.33e-16]     (-0.167, 0.195]
3   (-0.656, -5.55e-16]  (-0.656, -3.33e-16]      (0.613, 0.919]
4   (-0.656, -5.55e-16]  (-0.656, -3.33e-16]     (-1.17, -0.919]
5   (-0.656, -5.55e-16]   (-3.33e-16, 1.528]    (-0.919, -0.668]
6    (-5.55e-16, 1.528]  (-0.656, -3.33e-16]      (1.393, 1.643]
7   (-0.656, -5.55e-16]  (-0.656, -3.33e-16]      (0.195, 0.613]
8   (-0.656, -5.55e-16]  (-0.656, -3.33e-16]      (0.919, 1.393]
9   (-0.656, -5.55e-16]   (-3.33e-16, 1.528]    (-0.418, -0.167]
10   (-5.55e-16, 1.528]  (-0.656, -3.33e-16]    (-0.668, -0.418]

# Mục 2

In [10]:
import pandas as pd
import numpy as np
from sklearn.impute import SimpleImputer
from sklearn.preprocessing import StandardScaler
from sklearn.preprocessing import KBinsDiscretizer

df = pd.read_csv('arrhythmia.data', delimiter=',', header=None, na_values='?')
df

,0,1,2,3,4,5,6,7,8,9,...,270,271,272,273,274,275,276,277,278,279
0,75,0,190,80,91,193,371,174,121,-16,...,0.0,9.0,-0.9,0.0,0.0,0.9,2.9,23.3,49.4,8
1,56,1,165,64,81,174,401,149,39,25,...,0.0,8.5,0.0,0.0,0.0,0.2,2.1,20.4,38.8,6
2,54,0,172,95,138,163,386,185,102,96,...,0.0,9.5,-2.4,0.0,0.0,0.3,3.4,12.3,49.0,10
3,55,0,175,94,100,202,380,179,143,28,...,0.0,12.2,-2.2,0.0,0.0,0.4,2.6,34.6,61.6,1
4,75,0,190,80,88,181,360,177,103,-16,...,0.0,13.1,-3.6,0.0,0.0,-0.1,3.9,25.4,62.8,7
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
447,53,1,160,70,80,199,382,154,117,-37,...,0.0,4.3,-5.0,0.0,0.0,0.7,0.6,-4.4,-0.5,1
448,37,0,190,85,100,137,361,201,73,86,...,0.0,15.6,-1.6,0.0,0.0,0.4,2.4,38.0,62.4,10
449,36,0,166,68,108,176,365,194,116,-85,...,0.0,16.3,-28.6,0.0,0.0,1.5,1.0,-44.2,-33.2,2
450,32,1,155,55,93,106,386,218,63,54,...,-0.4,12.0,-0.7,0.0,0.0,0.5,2.4,25.0,46.6,1
451,78,1,160,70,79,127,364,138,78,28,...,0.0,10.4,-1.8,0.0,0.0,0.5,1.6,21.3,32.8,1

In [11]:
#2. Kiểm tra các giá trị missing
print(df.isnull().sum())
# làm đầy các giá trị missing bằng giá trị trung bình chỉ cho các cột numeric
df.fillna(df.mean(), inplace=True)

0      0
1      0
2      0
3      0
4      0
      ..
275    0
276    0
277    0
278    0
279    0
Length: 280, dtype: int64

In [12]:
#3. Kiểm tra giá trị giống nhau
print(df.duplicated().sum())

0

In [13]:
# xử lý các giá trị ngoại lai
# chuẩn hóa và scale dữ liệu
array = df.values
print(array)

### Sử dụng RobustScaler() để loại bỏ những giá trị ngoại lai
scaler = preprocessing.RobustScaler()
robust_df = scaler.fit_transform(array)
robust_df = pd.DataFrame(robust_df)

### Chuẩn hóa dữ liệu bằng phương pháp z-score (Standard)
scaler = preprocessing.StandardScaler()
standard = scaler.fit_transform(array)
standard_df = pd.DataFrame(standard)
print('Chuan hoa du lieu:\n', standard_df)

### Scale dữ liệu bằng phương pháp minmax
scaler = preprocessing.MinMaxScaler()
minmax = scaler.fit_transform(array)
minmax_df = pd.DataFrame(minmax)
print('Scaling dữ liệu:\n', minmax_df)

[[ 75.    0.  190.  ...  23.3  49.4   8. ]
 [ 56.    1.  165.  ...  20.4  38.8   6. ]
 [ 54.    0.  172.  ...  12.3  49.   10. ]
 ...
 [ 36.    0.  166.  ... -44.2 -33.2   2. ]
 [ 32.    1.  155.  ...  25.   46.6   1. ]
 [ 78.    1.  160.  ...  21.3  32.8   1. ]]
Chuan hoa du lieu:
           0         1         2         3         4         5         6    \
0    1.734439 -1.107520  0.641327  0.713814  0.135505  0.844945  0.113709
1    0.579312  0.902918 -0.031998 -0.251644 -0.516072  0.420769  1.013301
2    0.457720 -1.107520  0.156533  1.618932  3.197915  0.175193  0.563505
3    0.518516 -1.107520  0.237332  1.558590  0.721924  1.045871  0.383587
4    1.734439 -1.107520  0.641327  0.713814 -0.059968  0.577044 -0.216141
..        ...       ...       ...       ...       ...       ...       ...
447  0.396924  0.902918 -0.166663  0.110403 -0.581229  0.978896  0.443560
448 -0.575815 -1.107520  0.641327  1.015520  0.721924 -0.405260 -0.186154
449 -0.636611 -1.107520 -0.005065 -0.010279  1.243185  0.465419 -0.066209
450 -0.879796  0.902918 -0.301328 -0.794714  0.265820 -1.097337  0.563505
451  1.916828  0.902918 -0.166663  0.110403 -0.646387 -0.628511 -0.096195

          7         8         9    ...       270       271        272  \
0    0.113809  1.201469 -1.094661  ...  0.508843 -0.013839   0.278621
1   -0.588564 -1.977064 -0.191203  ...  0.508843 -0.157972   0.728573
2    0.422853  0.464980  1.373324  ...  0.508843  0.130294  -0.471299
3    0.254284  2.054247 -0.125096  ...  0.508843  0.908612  -0.371310
4    0.198094  0.503742 -1.094661  ...  0.508843  1.168051  -1.071235
..        ...       ...       ...  ...       ...       ...        ...
447 -0.448089  1.046419 -1.557409  ...  0.508843 -1.368689  -1.771161
448  0.872372 -0.659136  1.152968  ...  0.508843  1.888716  -0.071342
449  0.675708  1.007656 -2.615116  ...  0.508843  2.090502 -13.569901
450  1.349985 -1.046762  0.447829  ... -0.220727  0.850959   0.378610
451 -0.897608 -0.465323 -0.125096  ...  0.508843  0.389733  -0.171331

          273  274       275       276       277       278       279
0   -0.079546  0.0  1.109553  1.177737  0.294603  1.078670  0.935771
1   -0.079546  0.0 -0.906889  0.616126  0.079613  0.504874  0.481455
2   -0.079546  0.0 -0.618826  1.528744 -0.520878  1.057018  1.390087
3   -0.079546  0.0 -0.330763  0.967133  1.132324  1.739077 -0.654336
4   -0.079546  0.0 -1.771079  1.879751  0.450286  1.804035  0.708613
..        ...  ...       ...       ...       ...       ...       ...
447 -0.079546  0.0  0.533427 -0.436895 -1.758926 -1.622502 -0.654336
448 -0.079546  0.0 -0.330763  0.826730  1.384382  1.782383  1.390087
449 -0.079546  0.0  2.837932 -0.156089 -4.709483 -3.392610 -0.427178
450 -0.079546  0.0 -0.042700  0.826730  0.420632  0.927101 -0.654336
451 -0.079546  0.0 -0.042700  0.265119  0.146334  0.180084 -0.654336

[452 rows x 280 columns]
Scaling dữ liệu:
           0    1         2         3         4         5         6    \
0    0.903614  0.0  0.125926  0.435294  0.270677  0.368321  0.501805
1    0.674699  1.0  0.088889  0.341176  0.195489  0.332061  0.610108
2    0.650602  0.0  0.099259  0.523529  0.624060  0.311069  0.555957
3    0.662651  0.0  0.103704  0.517647  0.338346  0.385496  0.534296
4    0.903614  0.0  0.125926  0.435294  0.248120  0.345420  0.462094
..        ...  ...       ...       ...       ...       ...       ...
447  0.638554  1.0  0.081481  0.376471  0.187970  0.379771  0.541516
448  0.445783  0.0  0.125926  0.464706  0.338346  0.261450  0.465704
449  0.433735  0.0  0.090370  0.364706  0.398496  0.335878  0.480144
450  0.385542  1.0  0.074074  0.288235  0.285714  0.202290  0.555957
451  0.939759  1.0  0.081481  0.376471  0.180451  0.242366  0.476534

          7         8         9    ...       270       271       272  273  \
0    0.241758  0.590244  0.457478  ...  1.000000  0.381356  0.968531  0.0
1    0.150183  0.190244  0.577713  ...  1.000000  0.360169  1.000000  0.0
2    0.282051  0.497561  0.785924  ...  1.000000  0.402542  0.916084  0.0
3    0.260073  0.697561  0.586510  ...  1.000000  0.516949  0.923077  0.0
4    0.252747  0.502439  0.457478  ...  1.000000  0.555085  0.874126  0.0
..        ...       ...       ...  ...       ...       ...       ...  ...
447  0.168498  0.570732  0.395894  ...  1.000000  0.182203  0.825175  0.0
448  0.340659  0.356098  0.756598  ...  1.000000  0.661017  0.944056  0.0
449  0.315018  0.565854  0.255132  ...  1.000000  0.690678  0.000000  0.0
450  0.402930  0.307317  0.662757  ...  0.902439  0.508475  0.975524  0.0
451  0.109890  0.380488  0.586510  ...  1.000000  0.440678  0.937063  0.0

     274      275       276       277       278       279
0    0.0  0.53125  0.741667  0.507519  0.569579  0.466667
1    0.0  0.31250  0.675000  0.485714  0.500971  0.333333
2    0.0  0.34375  0.783333  0.424812  0.566990  0.600000
3    0.0  0.37500  0.716667  0.592481  0.648544  0.000000
4    0.0  0.21875  0.825000  0.523308  0.656311  0.400000
..   ...      ...       ...       ...       ...       ...
447  0.0  0.46875  0.550000  0.299248  0.246602  0.000000
448  0.0  0.37500  0.700000  0.618045  0.653722  0.600000
449  0.0  0.71875  0.583333  0.000000  0.034951  0.066667
450  0.0  0.40625  0.700000  0.520301  0.551456  0.000000
451  0.0  0.40625  0.633333  0.492481  0.462136  0.000000

[452 rows x 280 columns]

In [14]:
###### 10 equi-width ranges với tất cả các cột của standard_df
df2 = standard_df.copy()
for i in df2.columns:
    df2[f'equi_width_column_{i}'] = pd.cut(x=df2[i], bins=10)
print(f'Roi rac hoa cot cac cot bang 10 equi-width ranges:\n', df2)

Roi rac hoa cot cac cot bang 10 equi-width ranges:
             0         1         2         3         4         5         6  \
0    1.734439 -1.107520  0.641327  0.713814  0.135505  0.844945  0.113709
1    0.579312  0.902918 -0.031998 -0.251644 -0.516072  0.420769  1.013301
2    0.457720 -1.107520  0.156533  1.618932  3.197915  0.175193  0.563505
3    0.518516 -1.107520  0.237332  1.558590  0.721924  1.045871  0.383587
4    1.734439 -1.107520  0.641327  0.713814 -0.059968  0.577044 -0.216141
..        ...       ...       ...       ...       ...       ...       ...
447  0.396924  0.902918 -0.166663  0.110403 -0.581229  0.978896  0.443560
448 -0.575815 -1.107520  0.641327  1.015520  0.721924 -0.405260 -0.186154
449 -0.636611 -1.107520 -0.005065 -0.010279  1.243185  0.465419 -0.066209
450 -0.879796  0.902918 -0.301328 -0.794714  0.265820 -1.097337  0.563505
451  1.916828  0.902918 -0.166663  0.110403 -0.646387 -0.628511 -0.096195

            7         8         9  ...  equi_width_column_270  \
0    0.113809  1.201469 -1.094661  ...        (-0.239, 0.509]
1   -0.588564 -1.977064 -0.191203  ...        (-0.239, 0.509]
2    0.422853  0.464980  1.373324  ...        (-0.239, 0.509]
3    0.254284  2.054247 -0.125096  ...        (-0.239, 0.509]
4    0.198094  0.503742 -1.094661  ...        (-0.239, 0.509]
..        ...       ...       ...  ...                    ...
447 -0.448089  1.046419 -1.557409  ...        (-0.239, 0.509]
448  0.872372 -0.659136  1.152968  ...        (-0.239, 0.509]
449  0.675708  1.007656 -2.615116  ...        (-0.239, 0.509]
450  1.349985 -1.046762  0.447829  ...        (-0.239, 0.509]
451 -0.897608 -0.465323 -0.125096  ...        (-0.239, 0.509]

     equi_width_column_271  equi_width_column_272  equi_width_column_273  \
0          (-0.567, 0.113]        (-0.701, 0.729]       (-0.0955, 1.518]
1          (-0.567, 0.113]        (-0.701, 0.729]       (-0.0955, 1.518]
2           (0.113, 0.793]        (-0.701, 0.729]       (-0.0955, 1.518]
3           (0.793, 1.474]        (-0.701, 0.729]       (-0.0955, 1.518]
4           (0.793, 1.474]       (-2.131, -0.701]       (-0.0955, 1.518]
..                     ...                    ...                    ...
447       (-1.928, -1.248]       (-2.131, -0.701]       (-0.0955, 1.518]
448         (1.474, 2.154]        (-0.701, 0.729]       (-0.0955, 1.518]
449         (1.474, 2.154]      (-13.584, -12.14]       (-0.0955, 1.518]
450         (0.793, 1.474]        (-0.701, 0.729]       (-0.0955, 1.518]
451         (0.113, 0.793]        (-0.701, 0.729]       (-0.0955, 1.518]

     equi_width_column_274  equi_width_column_275  equi_width_column_276  \
0           (-0.0002, 0.0]         (0.821, 1.743]         (0.827, 1.669]
1           (-0.0002, 0.0]         (-1.022, -0.1]       (-0.0157, 0.827]
2           (-0.0002, 0.0]         (-1.022, -0.1]         (0.827, 1.669]
3           (-0.0002, 0.0]         (-1.022, -0.1]         (0.827, 1.669]
4           (-0.0002, 0.0]       (-1.944, -1.022]         (1.669, 2.512]
..                     ...                    ...                    ...
447         (-0.0002, 0.0]          (-0.1, 0.821]      (-0.858, -0.0157]
448         (-0.0002, 0.0]         (-1.022, -0.1]       (-0.0157, 0.827]
449         (-0.0002, 0.0]         (2.665, 3.587]      (-0.858, -0.0157]
450         (-0.0002, 0.0]          (-0.1, 0.821]       (-0.0157, 0.827]
451         (-0.0002, 0.0]          (-0.1, 0.821]       (-0.0157, 0.827]

     equi_width_column_277  equi_width_column_278  equi_width_column_279
0            (0.22, 1.206]         (0.497, 1.333]         (0.709, 1.049]
1           (-0.766, 0.22]         (0.497, 1.333]         (0.368, 0.709]
2           (-0.766, 0.22]         (0.497, 1.333]          (1.39, 1.731]
3            (0.22, 1.206]         (1.333, 2.169]       (-0.658, -0.314]
4            (0.22, 1.206]         (1.333, 2.169]         (0.368, 0.709]
..                     ...                    ...                    ...
447       (-2.738, -1.752]       (-2.012, -1.176]       (-0.658, -0.314]
448         (1.206, 2.192]         (1.333, 2.169]          (1.39, 1.731]
449       (-4.719, -3.723]       (-3.693, -2.849]       (-0.658, -0.314]
450          (0.22, 1.206]         (0.497, 1.333]       (-0.658, -0.314]
451         (-0.766, 0.22]         (-0.34, 0.497]       (-0.658, -0.314]

[452 rows x 560 columns]

In [15]:
###### 10 equi-depth ranges với tất cả các cột của standard_df
df3 = standard_df.copy()
for i in df3.columns:
    df3[f'equi_depth_column_{i}'] = pd.qcut(x=df3[i], q=10, duplicates='drop')
print(f'Roi rac hoa cot cac cot bang 10 equi-depth ranges:\n', df3)

Roi rac hoa cot cac cot bang 10 equi-depth ranges:
             0         1         2         3         4         5         6  \
0    1.734439 -1.107520  0.641327  0.713814  0.135505  0.844945  0.113709
1    0.579312  0.902918 -0.031998 -0.251644 -0.516072  0.420769  1.013301
2    0.457720 -1.107520  0.156533  1.618932  3.197915  0.175193  0.563505
3    0.518516 -1.107520  0.237332  1.558590  0.721924  1.045871  0.383587
4    1.734439 -1.107520  0.641327  0.713814 -0.059968  0.577044 -0.216141
..        ...       ...       ...       ...       ...       ...       ...
447  0.396924  0.902918 -0.166663  0.110403 -0.581229  0.978896  0.443560
448 -0.575815 -1.107520  0.641327  1.015520  0.721924 -0.405260 -0.186154
449 -0.636611 -1.107520 -0.005065 -0.010279  1.243185  0.465419 -0.066209
450 -0.879796  0.902918 -0.301328 -0.794714  0.265820 -1.097337  0.563505
451  1.916828  0.902918 -0.166663  0.110403 -0.646387 -0.628511 -0.096195

            7         8         9  ...  equi_depth_column_270  \
0    0.113809  1.201469 -1.094661  ...        (-0.221, 0.509]
1   -0.588564 -1.977064 -0.191203  ...        (-0.221, 0.509]
2    0.422853  0.464980  1.373324  ...        (-0.221, 0.509]
3    0.254284  2.054247 -0.125096  ...        (-0.221, 0.509]
4    0.198094  0.503742 -1.094661  ...        (-0.221, 0.509]
..        ...       ...       ...  ...                    ...
447 -0.448089  1.046419 -1.557409  ...        (-0.221, 0.509]
448  0.872372 -0.659136  1.152968  ...        (-0.221, 0.509]
449  0.675708  1.007656 -2.615116  ...        (-0.221, 0.509]
450  1.349985 -1.046762  0.447829  ...       (-0.586, -0.221]
451 -0.897608 -0.465323 -0.125096  ...        (-0.221, 0.509]

     equi_depth_column_271  equi_depth_column_272  equi_depth_column_273  \
0         (-0.0715, 0.188]         (0.179, 0.329]        (-0.0805, 15.9]
1        (-0.273, -0.0715]         (0.329, 0.729]        (-0.0805, 15.9]
2         (-0.0715, 0.188]       (-0.971, -0.471]        (-0.0805, 15.9]
3           (0.822, 1.255]       (-0.471, -0.221]        (-0.0805, 15.9]
4           (0.822, 1.255]      (-13.571, -0.971]        (-0.0805, 15.9]
..                     ...                    ...                    ...
447       (-2.609, -1.222]      (-13.571, -0.971]        (-0.0805, 15.9]
448         (1.255, 4.195]      (-0.221, -0.0213]        (-0.0805, 15.9]
449         (1.255, 4.195]      (-13.571, -0.971]        (-0.0805, 15.9]
450         (0.822, 1.255]         (0.329, 0.729]        (-0.0805, 15.9]
451         (0.188, 0.476]      (-0.221, -0.0213]        (-0.0805, 15.9]

     equi_depth_column_274          equi_depth_column_275  \
0                      NaN                  (0.821, 1.11]
1                      NaN               (-1.166, -0.619]
2                      NaN               (-1.166, -0.619]
3                      NaN               (-0.619, -0.331]
4                      NaN  (-3.7889999999999997, -1.166]
..                     ...                            ...
447                    NaN                 (0.245, 0.533]
448                    NaN               (-0.619, -0.331]
449                    NaN                  (1.11, 5.431]
450                    NaN              (-0.331, -0.0427]
451                    NaN              (-0.331, -0.0427]

     equi_depth_column_276  equi_depth_column_277  equi_depth_column_278  \
0           (1.108, 3.354]         (0.198, 0.391]         (0.839, 1.268]
1           (0.476, 0.757]       (-0.0909, 0.198]         (0.458, 0.839]
2           (1.108, 3.354]       (-0.721, -0.491]         (0.839, 1.268]
3           (0.757, 1.108]         (0.642, 1.147]         (1.268, 4.678]
4           (1.108, 3.354]         (0.391, 0.642]         (1.268, 4.678]
..                     ...                    ...                    ...
447       (-0.577, -0.367]        (-4.71, -1.076]        (-3.686, -1.14]
448         (0.757, 1.108]          (1.147, 5.15]         (1.268, 4.678]
449       (-0.367, -0.128]        (-4.71, -1.076]        (-3.686, -1.14]
450         (0.757, 1.108]         (0.391, 0.642]         (0.839, 1.268]
451        (0.0896, 0.265]       (-0.0909, 0.198]         (0.162, 0.458]

     equi_depth_column_279
0          (0.0271, 0.936]
1          (0.0271, 0.936]
2            (0.936, 1.39]
3         (-0.655, -0.427]
4          (0.0271, 0.936]
..                     ...
447       (-0.655, -0.427]
448          (0.936, 1.39]
449       (-0.655, -0.427]
450       (-0.655, -0.427]
451       (-0.655, -0.427]

[452 rows x 560 columns]

# Mục 3

In [16]:
pip install ucimlrepo

Defaulting to user installation because normal site-packages is not writeable
Collecting ucimlrepo
  Downloading ucimlrepo-0.0.7-py3-none-any.whl.metadata (5.5 kB)
Requirement already satisfied: pandas>=1.0.0 in c:\users\admin\appdata\local\packages\pythonsoftwarefoundation.python.3.13_qbz5n2kfra8p0\localcache\local-packages\python313\site-packages (from ucimlrepo) (2.2.3)
Requirement already satisfied: certifi>=2020.12.5 in c:\users\admin\appdata\local\packages\pythonsoftwarefoundation.python.3.13_qbz5n2kfra8p0\localcache\local-packages\python313\site-packages (from ucimlrepo) (2025.1.31)
Requirement already satisfied: numpy>=1.26.0 in c:\users\admin\appdata\local\packages\pythonsoftwarefoundation.python.3.13_qbz5n2kfra8p0\localcache\local-packages\python313\site-packages (from pandas>=1.0.0->ucimlrepo) (2.2.3)
Requirement already satisfied: python-dateutil>=2.8.2 in c:\users\admin\appdata\local\packages\pythonsoftwarefoundation.python.3.13_qbz5n2kfra8p0\localcache\local-packages\python313\site-packages (from pandas>=1.0.0->ucimlrepo) (2.9.0.post0)
Requirement already satisfied: pytz>=2020.1 in c:\users\admin\appdata\local\packages\pythonsoftwarefoundation.python.3.13_qbz5n2kfra8p0\localcache\local-packages\python313\site-packages (from pandas>=1.0.0->ucimlrepo) (2025.1)
Requirement already satisfied: tzdata>=2022.7 in c:\users\admin\appdata\local\packages\pythonsoftwarefoundation.python.3.13_qbz5n2kfra8p0\localcache\local-packages\python313\site-packages (from pandas>=1.0.0->ucimlrepo) (2025.1)
Requirement already satisfied: six>=1.5 in c:\users\admin\appdata\local\packages\pythonsoftwarefoundation.python.3.13_qbz5n2kfra8p0\localcache\local-packages\python313\site-packages (from python-dateutil>=2.8.2->pandas>=1.0.0->ucimlrepo) (1.17.0)
Downloading ucimlrepo-0.0.7-py3-none-any.whl (8.0 kB)
Installing collected packages: ucimlrepo
Successfully installed ucimlrepo-0.0.7
Note: you may need to restart the kernel to use updated packages.

In [17]:
from ucimlrepo import fetch_ucirepo

# fetch dataset
musk_version_2 = fetch_ucirepo(id=75)

# data (as pandas dataframes)
X = musk_version_2.data.features
y = musk_version_2.data.targets

# metadata
print(musk_version_2.metadata)

# variable information
print(musk_version_2.variables)

{'uci_id': 75, 'name': 'Musk (Version 2)', 'repository_url': 'https://archive.ics.uci.edu/dataset/75/musk+version+2', 'data_url': 'https://archive.ics.uci.edu/static/public/75/data.csv', 'abstract': 'The goal is to learn to predict whether new molecules will be musks or non-musks', 'area': 'Physics and Chemistry', 'tasks': ['Classification'], 'characteristics': ['Multivariate'], 'num_instances': 6598, 'num_features': 166, 'feature_types': ['Integer'], 'demographics': [], 'target_col': ['class'], 'index_col': ['molecule_name', 'conformation_name'], 'has_missing_values': 'no', 'missing_values_symbol': None, 'year_of_dataset_creation': 1994, 'last_updated': 'Sat Mar 16 2024', 'dataset_doi': '10.24432/C51608', 'creators': ['David Chapman', 'Ajay Jain'], 'intro_paper': None, 'additional_info': {'summary': 'This dataset describes a set of 102 molecules of which 39 are judged by human experts to be musks and the remaining 63 molecules are judged to be non-musks.  The goal is to learn to predict whether new molecules will be musks or non-musks.  However, the 166 features that describe these molecules depend upon the exact shape, or conformation, of the molecule.  Because bonds can rotate, a single molecule can adopt many different shapes.  To generate this data set, all the low-energy conformations of the molecules were generated to produce 6,598 conformations.  Then, a feature vector was extracted that describes each conformation. \r\n\r\nThis many-to-one relationship between feature vectors and molecules is called the "multiple instance problem".  When learning a classifier for this data, the classifier should classify a molecule as "musk" if ANY of its conformations is classified as a musk.  A molecule should be classified as "non-musk" if NONE of its conformations is classified as a musk.', 'purpose': None, 'funded_by': None, 'instances_represent': None, 'recommended_data_splits': None, 'sensitive_data': None, 'preprocessing_description': None, 'variable_info': '   molecule_name:       Symbolic name of each molecule.  Musks have names such as MUSK-188.  Non-musks have names such as NON-MUSK-jp13.\r\n   conformation_name:   Symbolic name of each conformation.  These have the format MOL_ISO+CONF, where MOL is the molecule number, ISO is the stereoisomer number (usually 1), and CONF is the conformation number. \r\n   f1 through f162:     These are "distance features" along rays (see paper cited above).  The distances are measured in hundredths of Angstroms.  The distances may be negative or positive, since they are actually measured relative to an origin placed along each ray.  The origin was defined by a "consensus musk" surface that is no longer used.  Hence, any experiments with the data should treat these feature values as lying on an arbitrary continuous scale.  In particular, the algorithm should not make any use of the zero point or the sign of each feature value. \r\n   f163:                This is the distance of the oxygen atom in the molecule to a designated point in 3-space. This is also called OXY-DIS.\r\n   f164:                OXY-X: X-displacement from the designated point.\r\n   f165:                OXY-Y: Y-displacement from the designated point.\r\n   f166:                OXY-Z: Z-displacement from the designated point. \r\n   class:               0 => non-musk, 1 => musk\r\n\r\n   Please note that the molecule_name and conformation_name attributes should not be used to predict the class.', 'citation': None}}
                  name     role         type demographic  \
0        molecule_name       ID  Categorical        None
1    conformation_name       ID  Categorical        None
2                   f1  Feature      Integer        None
3                   f2  Feature      Integer        None
4                   f3  Feature      Integer        None
..                 ...      ...          ...         ...
164               f163  Feature      Integer        None
165               f164  Feature      Integer        None
166               f165  Feature      Integer        None
167               f166  Feature      Integer        None
168              class   Target   Continuous        None

                                           description units missing_values
0    Symbolic name of each molecule.  Musks have na...  None             no
1    Symbolic name of each conformation.  These hav...  None             no
2                                                 None  None             no
3                                                 None  None             no
4                                                 None  None             no
..                                                 ...   ...            ...
164  This is the distance of the oxygen atom in the...  None             no
165   OXY-Z: X-displacement from the designated point.  None             no
166   OXY-Z: Y-displacement from the designated point.  None             no
167   OXY-Z: Z-displacement from the designated point.  None             no
168                           0 => non-musk, 1 => musk  None             no

[169 rows x 7 columns]

In [18]:
# Apply PCA into above dataset
from sklearn.decomposition import PCA
pca = PCA(n_components=2)
principalComponents = pca.fit_transform(X)
principalDf = pd.DataFrame(data = principalComponents
             , columns = ['principal component 1', 'principal component 2'])
X.dtypes.unique()

array([dtype('int64')], dtype=object)

In [19]:
# report the eigenvectors and eigenvalues
print("Eigenvalues:", pca.explained_variance_)  # Access eigenvalues using explained_variance_
print("Eigenvectors:", pca.components_)

Eigenvalues: [456051.03646811 257892.78359708]
Eigenvectors: [[-0.00297138 -0.07067551 -0.07919386  0.07636567  0.002569   -0.03854542
   0.15457415 -0.03082978  0.13909506 -0.07074886  0.01666866  0.02851486
  -0.01180712 -0.02136987 -0.0083431  -0.00345123  0.14344556 -0.00664528
   0.0141755  -0.03274181  0.07731929  0.13837659  0.1216251  -0.12295964
  -0.13548821  0.12121699  0.08258056  0.05663292  0.03472125 -0.15637469
  -0.00231013 -0.01401714  0.05123079 -0.12758364  0.08527464 -0.01024635
   0.03341853  0.07598349 -0.08346349  0.06823959 -0.09628692 -0.01112667
  -0.03557194 -0.00048187 -0.00634286  0.01315843  0.01907625  0.08202165
  -0.02063837 -0.06012866  0.0439804   0.13908176  0.13966061  0.01252173
  -0.06328565  0.04858638  0.14487146 -0.02406349  0.00934473 -0.11827492
   0.08800078 -0.05130579  0.00651246 -0.15743875  0.08391587 -0.00615454
  -0.00376085 -0.02188955 -0.05143767 -0.02068033 -0.08934383 -0.07837137
   0.00823084 -0.00716006 -0.02863575  0.00067546  0.15377819 -0.02065949
   0.03126493  0.01282984  0.11575222  0.14570409  0.06787319 -0.02740741
  -0.13175272  0.15013658 -0.03445461  0.04008921  0.05459298 -0.14661247
  -0.03349119 -0.00444658  0.09715749 -0.01990333  0.01395689 -0.02601604
   0.00108794  0.14545225 -0.08146573  0.13407315 -0.09768003 -0.00212732
  -0.00323775  0.01195904 -0.00681166 -0.02447541  0.03023426  0.08400656
  -0.03230773 -0.0047892  -0.00545838  0.10862105  0.13948369  0.14119076
  -0.12031286 -0.04434345 -0.15111659  0.13621504  0.15788202  0.09083769
  -0.14479476 -0.06563282 -0.10250006  0.02826343 -0.01690319 -0.01235779
  -0.08202665 -0.15513054 -0.04788233  0.10425346  0.01382378  0.00344823
   0.03638201  0.00385582 -0.03027982 -0.04356492  0.10807053 -0.05078436
   0.11726991  0.04630703  0.06138478  0.06765927  0.13566989  0.13773246
   0.00345692  0.00470518  0.00116575 -0.03825345 -0.04574135  0.07328308
   0.06316997  0.07868109  0.07926824 -0.07628473 -0.01294712 -0.06417973
  -0.04007845 -0.05876421 -0.13754942 -0.03431826 -0.00550742  0.0009916
   0.01453064 -0.00141749 -0.01224336  0.00308829]
 [-0.0569905   0.02420591  0.0349982   0.06725431 -0.02062088 -0.01967483
  -0.05262346  0.14533577 -0.05897379 -0.02915977  0.19863726  0.11285298
   0.05418178  0.18341129  0.18075425  0.03956712 -0.04435945  0.06233202
   0.12515449  0.09579045 -0.01383178 -0.03850509 -0.0297287  -0.08462061
  -0.07782687 -0.07329475 -0.02566471  0.00902718  0.02443731 -0.10191818
  -0.0410409  -0.04063902  0.01172777 -0.11283986  0.0530358  -0.01268765
   0.06139322 -0.05432419  0.02402171 -0.04440051  0.04160493 -0.04210388
   0.00212735  0.20893185  0.16367607  0.16520107  0.02188016 -0.04979762
   0.12582995  0.01555267  0.04235234 -0.04235824 -0.05212222  0.13622554
  -0.0584949  -0.01977116 -0.05283568  0.03602001  0.00638385 -0.0821265
   0.05601195 -0.00348635 -0.02889542 -0.09686526  0.07004949 -0.04942136
  -0.00815366  0.00060372  0.03024715  0.0041902   0.03987268  0.01262841
   0.15163292  0.1487828   0.11552612  0.00528666 -0.06634384  0.18894077
   0.12096201  0.19181481 -0.04776859 -0.04544995  0.02105034  0.02041174
  -0.07014803 -0.06456895  0.04488769 -0.00251637  0.04177427 -0.09800357
  -0.01436679 -0.06210798  0.05931308  0.05149288 -0.02450467  0.05632422
   0.04585273 -0.05469788  0.03266641 -0.05606001  0.03996728 -0.07695105
   0.17237898  0.20352568  0.1879263   0.13385899  0.01405184 -0.04860799
   0.16645639  0.15742452  0.16879359 -0.01729569 -0.04001214 -0.04090797
  -0.06306949 -0.03707157 -0.09401237 -0.07180945 -0.05815995 -0.00303897
  -0.08551187 -0.0648289  -0.08098366  0.02619668  0.00204177 -0.0083134
  -0.06979979 -0.11792934 -0.0282619   0.07320093 -0.00793843  0.05158755
   0.00785562  0.08682472  0.14592046  0.01619662 -0.05088052  0.03952297
  -0.05502686 -0.00381877  0.01590192 -0.05100133 -0.05550451 -0.05209826
  -0.02707034 -0.00024896  0.00552774  0.02408834  0.03931357 -0.03509382
   0.02839165  0.05940639  0.05789804  0.00183192 -0.0456793  -0.00443356
   0.02519336 -0.01397131 -0.05489845 -0.0121233  -0.02061918 -0.06649035
  -0.00381267 -0.03625767 -0.06488922  0.02323128]]

In [30]:
# make an example for LSA
from sklearn.decomposition import TruncatedSVD
from sklearn.feature_extraction.text import TfidfVectorizer

# Danh sách văn bản mẫu
documents = [
    "Chó là loài động vật trung thành.",
    "Mèo là loài động vật thích leo trèo.",
    "Người nuôi chó thường dẫn chúng đi dạo.",
    "Người nuôi mèo thường để chúng ở nhà.",
    "Tôi thích nuôi chó vì chúng trung thành.",
    "Tôi thích nuôi mèo vì chúng dễ thương.",
]

# Chuyển đổi văn bản thành ma trận TF-IDF
vectorizer = TfidfVectorizer()
X = vectorizer.fit_transform(documents)

# Xem danh sách các từ đặc trưng
print("Từ đặc trưng:", vectorizer.get_feature_names_out())

Từ đặc trưng: ['chó' 'chúng' 'dạo' 'dẫn' 'dễ' 'leo' 'loài' 'là' 'mèo' 'người' 'nhà'
 'nuôi' 'thành' 'thích' 'thương' 'thường' 'trung' 'trèo' 'tôi' 'vì' 'vật'
 'đi' 'để' 'động']

In [31]:
# Áp dụng LSA với 2 chủ đề (2 thành phần chính)
lsa = TruncatedSVD(n_components=3)
X_lsa = lsa.fit_transform(X)

# Hiển thị ma trận sau khi giảm chiều
print("Ma trận LSA:\n", X_lsa)

Ma trận LSA:
 [[ 0.58544235  0.65741269 -0.20873329]
 [ 0.50675186  0.61589077 -0.25743977]
 [ 0.48803701 -0.49065853 -0.48190838]
 [ 0.48930453 -0.52983519 -0.42477703]
 [ 0.76977526 -0.03745646  0.4305823 ]
 [ 0.64227864 -0.26380713  0.56710937]]